---
export function getStaticPaths() {
  return [];
}

const { component } = Astro.props;
---

<main>
  <h1>{component}</h1>
  <p>Sandbox registry is empty until the signature interactives land.</p>
</main>
